<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auhtors</title>
  </head>
  <body>
    <% Author.all.each do |author| %>
      <%= author.name %><br>
    <% end %>
  </body>
</html>
