<div class="author-container">
  <h1><%= @author.name %></h1>
  <h3>Books:</h3>
  <div class="author-books">
    <% @author.books.each do |book| %>
      <a href="/books/<%= book.slug %>"><%= book.name %></a>
    <% end %>
  </div>
</div>
