<div class="header">  
  <div class="logo">
    <p>
      <a href="/">Home</a>
    </p>
  </div>
</div>

<h1>Sign up and start reviewing now</h1>
<p class="flash_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</p>
<div class="signup-container">
  <form action="/signup" method="post">
    <label for="name">Name </label>
    <input type="text" name="name" id="name">
    <label for="email">Email </label>
    <input type="text" name="email" id="email">
    <label for="name">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" name="Create User" value="Signup">
  </form>
</div>
