<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
  </div>
</div>

<h1>Sign up and start reviewing now</h1>
<p class="flash_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</p>
<div class="signup-container">
  <form action="/signup" method="post">
    <label for="name">Name </label>
    <input type="name" id="name" name="name" placeholder="Name" required="required"/>
    <label for="email">Email </label>
    <input type="email" id="email" name="email" placeholder="Email address" required="required"/>
    <label for="name">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required="required"/>

    <input type="submit" name="Create User" value="Signup">
  </form>
</div>
