<div class="header">
  <div class="logo">
    <p>
      <a href="/">Home</a>
    </p>
  </div>
</div>

<h1>Please Log In</h1>
<p class="flash_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</p>
<div class="login-container">
  <form action="/login" method="post">

    <label for="email">Email </label>
    <input type="text" name="email" id="email">
    <label for="name">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" name="login" value="Login">
  </form>
</div>
