<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome <%= current_user.name %></h1>
    <a href="/logout">Logout</a>
    <br></br>
    <% @reviews.each do |review| %>
      <%= review.book.name %>
      <%= review.content %>
    <% end %>
  </body>
</html>
