<div class="header">
  <div class="books-link">
    <p>
      <a href="/books">Books</a>
    </p>
  </div>
  <div class="logo">
    <p>
      <a href="/authors">Authors</a>
    </p>
  </div>
  <div class="reviews-link">
    <p>
      <a href="/reviews">Lastest Reviews</a>
    </p>
  </div>
  <div class="logout">
    <p>
      <a href="/logout">Logout</a>
    </p>
  </div>
</div>
<div class="user-container">
  <h1>Welcome <%= current_user.name %></h1>
</div>
<div class="reviews-container">
  <h3>Your latest reviews:</h1>
  <% @reviews.each do |review| %>
    <div class="review">
      <div class="review_book">
        <h4><%= review.book.name %></h4>
      </div>
      <div class="review_content">
        <%= review.content %>
      </div>
    <% end %>
    </div>
</div>
