<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, <%= @user.name %></h1>
    <a href="/logout">Logout</a>
    <br></br>
    <% @user.reviews.each do |review| %>
      <h4><%= review.book.name %></h4>
      <%= review.content %>
    <% end %>
  </body>
</html>
