<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    <h1 align="center">Books</h1>
    <br></br>
    <% Book.all.each do |book| %>
    <div class="book-container">
      <ul>
        <a href="/books/<%= book.slug %>"><li><h3><%= book.name %></h3></li></a>
        <a href="/authors/<%= book.author.slug %>"><p>By <%= book.author.name%></p></a>
      </ul>
    </div>
    <% end %>
  </body>
</html>
