<div class="topnav">
  <div class="topnav-left">
    <a href="/" class="bar-button"><b>Book</b> Review Club</a>
    <a href="/books" class="bar-button">Books</a>
    <a href="/authors" class="bar-button">Authors</a>
    <a href="/reviews" class="bar-button">Lastest Reviews</a>
    <div class="topnav-right">
      <a href="/logout" class="bar-button">Logout</a>
      <a href="/" class="bar-button">Profile</a>
    </div>
  </div>
</div>
<h1>Your review of <%= @review.book.name %></h1>
<div class="review-container">
  <div class="review_content">
    <p><%= @review.content %></p>
  </div>
  <div class="edit-review">
    <form action="/reviews/<%= @review.id %>/edit" method="get">
      <p>
        <button class="grey" type="submit" value="Edit Review">Edit Review</button>
      </p>
    </form>
    <form action="/reviews/<%= @review.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
        <p>
          <button class="grey" type="submit" name="Delete Review" value="Delete Review">Delete Review</button>
        <p>
    </form>
  </div>
</div>
