<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Review Club</title>
  </head>
  <body>
    <div class="user-content">
      <h1>Welcome!</h1>
      <h3>Please sign up or log in to access your account</h3>

      <form action="/login" method="get">
        <p>
          <button type="submit" value="Log in">Log In</button>
        </p>
      </form>
      <form action="/signup" method="get">
        <p>
          <button type="submit" value="Log in">Sign Up</button>
        </p>
      </form>

    </div>
  </body>
</html>
