<!DOCTYPE html>
<html>
  <head>
    <title>Book Review Club</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
     <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="wrapper">
        <%= yield %>
      </div>
    
    </div>
  </body>
</html>
