<!DOCTYPE html>
<html>
  <head>
    <title>Book Review Club</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
     <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="wrapper">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer-right">
          <a href="/" class="bar-button"><b>Contact</b> Us</a>
        </div>
      </div>
    </div>
  </body>
</html>
